@media (min-width: 768px) {
  .main-weather-bg {
    background-image: url("/src/assets/images/bg-today-large.svg") !important;
  }
}
@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;

  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
}

@layer utilities {
  .container {
    @apply px-3;
    @media (min-width: 768px) {
      @apply mx-auto max-w-6xl;
    }
  }
  .min-w-80px {
    min-width: 80px;
  }
  .min-w-220px {
    min-width: 220px;
  }
  .max-h-600px {
    max-height: 600px;
  }
  .gap-6 {
    gap: 1.5rem;
  }
  .gap-8 {
    gap: 2rem;
  }
  .gap-12 {
    gap: 3rem;
  }
}
